<app-nav></app-nav>

<!-- Breadcrumb -->
<nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb breadcrumb-alt mb-0">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']"><i class="cxi-home"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Software</li>
        </ol>
    </div>
</nav>

<!-- Page container -->
<section class="container pt-3 pb-5 mb-2 mb-lg-0">

    <!-- Toolbar + Pagination -->
    <div class="row mb-4 pb-2">

      <div class="col-md-12">
        <div class="d-flex justify-content-between">
          <div class="form-inline flex-nowrap mr-3 mr-xl-5">
            <label for="sorting-top" class="font-weight-bold text-nowrap mr-2 pr-1 d-none d-lg-block">Ordenar
              por</label>
            <select id="sorting-top" class="custom-select" name="sort_by" [(ngModel)]="sort_by" (change)="orden_por()">
              <option value="Defecto">Defecto</option>
              <option value="Popularidad">Popularidad</option>
              <option value="-+precio">Menor - mayor precio</option>
              <option value="+-precio">Mayor - menor precio</option>
              <option value="azTitulo">A - Z</option>
              <option value="zaTitulo">Z - A</option>
            </select>
          </div>
          <div class="form-inline flex-nowrap d-none d-sm-flex mr-3 mr-xl-5">
            <label for="pager-top" class="font-weight-bold text-nowrap mr-2 pr-1 d-none d-lg-block">Ver</label>
            <select id="pager-top" class="custom-select" name="pageSize" [(ngModel)]="pageSize">
              <option value="12">12</option>
              <option value="18">18</option>
              <option value="24">24</option>
            </select>
            <span class="font-size-sm text-muted text-nowrap ml-2 d-none d-lg-block">Productos por página</span>
          </div>
          <!-- Pagination of products -->
          <div >
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="programas.length">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>

</section>