<app-nav></app-nav>

<main class="cs-page-weapper mt-5">
  <!-- Breadcrumb -->
  <nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb breadcrumb-alt mb-0">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']"><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Nosotros</li>
      </ol>
    </div>
  </nav>

  <!-- Page container -->

</main>

<app-footer></app-footer>